.left{
    height: max-content;
    width: 300px;
    border-radius: 20px;
    border: solid 2px lightgray;
    margin-left: 30px;
    box-shadow: 0 0 20px 9px lightgray;
}
.item{
    background-image: url(../img/defaultAvatar.png);
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background-size: cover;
    background-position: center;
    margin-left: 10px;
    position: relative;
    margin-top: 10px
}
.user_button{
    display: flex;
    height: 70px;
    width: 275px;
    border-radius: 15px;
    background-color: #007bff;
    margin-left: 10px;
    margin-top: 10px;
    position: absolute;
}
.next {
    background-color: #007bff;
    color: white;
    font-size: 40px;
    width: 275px;
    display: flex;
}
.home_button{
    background-color: #007bff;
    width: 260px;
    height: 40px;
    margin-top: 100px;
    margin-left: 16px;
    border-radius: 15px;
}
.home {
    background-color: #007bff;
    color: white;
    font-size: 20px;
    width: 260px;
    height: 40px;
    display: flex;
}
.round {
    border-radius: 15px;
}
.button_left {
    width: 260px;
    height: 40px;
    margin-top: 10px;
    margin-left: 16px;
    border-radius: 15px;
}
.button{
    color: gray;
    font-size: 20px;
    width: 260px;
    height: 40px;
    display: flex;
}
/*end left content*/
/*begin center content*/
.avatar{
    background-image: url(../img/defaultAvatar.png);
    width: 70px;
    height: 70px;
    border-radius: 100px;
    background-size: cover;
    background-position: center;
}
.mini_avatar{
    background-image: url(../img/defaultAvatar.png);
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-size: cover;
    background-position: center;
    margin-left: 15px;
}
.user_info{
    display: flex
}
.greeting{
    margin-left: 9px;
    margin-top: 10px;
    color: gray
}
.box_course{
    height: 310px;
    width: 265px;
    margin-top: 40px;
    border-radius: 20px;
    box-shadow: 2px 3px 7px gray;
    margin-right: 40px;
    color: gray;
    padding: 0 0 10px;
}
.box_course:hover{
    color: gray;
    background-color: white;
    box-shadow: 2px 3px 7px blue;
}
.img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 265px;
    height: 180px;
    background-image: url(../img/img1.jpg);
    background-size: cover;
    background-position: center
}
.mini_item{
    display: flex;
    margin-top: 5px;
    font-size: 12px;
}
.heart{
    cursor: pointer;
}
.center_content{
    margin-top: 40px;
}
.box{
    height: max-content;
    width: 150px;
    display: flex;
    border-radius: 30px;
    color: black;
    margin-right: 30px;
}
.one{
    border: solid 2px orange;
}
.two{
    border: solid 2px #44c144;
}
.three{
    border: solid 2px blue;
}
.four{
    border: solid 2px blueviolet;
}
.five{
    border: solid 2px red;
}
.one:hover{
    color: white;
    background-color: orange;
}
.two:hover{
    color: white;
    background-color: #44c144;
}
.three:hover{
    color: white;
    background-color: blue;
}
.four:hover{
    color: white;
    background-color: blueviolet;
}
.five:hover{
    color: white;
    background-color: red;
}
.bar{
    margin-bottom: 100px;
    display: flex;
}
.heartStyle{
    color: blue;
}
/*end center content*/
/*begin right content*/
.right{
    height: max-content;
    border-radius: 20px;
    border: solid 2px lightgray;
    width: 410px;
    margin-left: 10px;
    box-shadow: 0 0 20px 9px lightgray;
}
#search-box{
    background-color: white;
    border-radius: 30px;
    border: solid 2px gray;
}
#search-box #search-text{
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    width: 0;
    padding: 0;
    transition: all 0.25s ease-in-out;
}
#search-box:hover #search-text, #search-box #search-text:valid{
    width: 250px;
    padding: 10px 15px;
}
#search-box #search-button{
    background-color: white;
    padding: 15px;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    margin-left: 4px;
}
.dropbtn {
    background-color: white;
    color: gray;
    padding: 0;
    font-size: 25px;
    border: none;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 12px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1
}
.dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content p:hover {
    background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
    display: block;
}
.right_content{
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
}
.mini_avatar{
    background-image: url(../img/defaultAvatar.png);
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-size: cover;
    background-position: center;
    margin-left: 15px;
}
.box_img{
    background-image: url(../img/img1.jpg);
    width: 160px;
    height: 120px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    margin-left: 20px;
    margin-top: 10px;
}
.right_box{
    padding-bottom: 10px;
    color: #337AB7;
}
.right_box:hover{
    background-color: #007bff;
}
/*end right content*/
a {
    text-decoration: none;
}
a:hover {
    background-color: blue;
    text-decoration: none;
    color: white;
}
b {
    margin-bottom: 10px;
    margin-top: 0;
}

a:link{
    text-decoration: none;
}
*{
    box-sizing: border-box;
}
@media (max-width: 767px) {
    .greeting {
        display: none;
    }
    .avatar {
        display: none;
    }
    .bar {
        display: none;
    }
    .row{
        display: table-row;
    }
    .box{
        margin-bottom: 10px;
    }
}
@media (max-width: 1607px) {
    .right{
        display: none;
    }
}
